<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.ourapps.apps_rebuild">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Apps_Rebuild">
        <activity
            android:name=".ui.breed.germinasi_1.aerasi.BreedGermin1AerasiActivity"
            android:exported="true" />
        <activity
            android:name=".ui.breed.germinasi_1.r_panas.BreedGermin1RPanasActivity"
            android:exported="true" />
        <activity
            android:name=".ui.breed.germinasi_1.kering_angin.BreedGermin1KeringAnginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.breed.germinasi_1.fungisida.BreedGermin1FungisidaActivity"
            android:exported="true" />
        <activity
            android:name=".ui.breed.germinasi_1.rendam.BreedGermin1RendamActivity"
            android:exported="true" />
        <activity
            android:name=".ui.breed.lbk.simpan_kiriman.BreedLbkSimpanKirimanActivity"
            android:exported="true" />
        <activity
            android:name=".ui.breed.lbk.terima_kiriman.BreedLbkTerimaKirimActivity"
            android:exported="true" />
        <activity
            android:name=".ui.breed.lbk.pengiriman.BreedLbkPengirimanActivity"
            android:exported="true" />
        <activity
            android:name=".ui.breed.lbk.gudang.BreedLbkGudangActivity"
            android:exported="true" />
        <activity
            android:name=".ui.breed.lbk.penggonian.BreedLbkPenggonianActivity"
            android:exported="true" />
        <activity
            android:name=".ui.breed.lbk.sortasi.BreedLbkSortasiActivity"
            android:exported="true" />
        <activity
            android:name=".ui.breed.lbk.kupas.BreedLbkKupasActivity"
            android:exported="true" />
        <activity
            android:name=".ui.breed.lbk.rendam.BreedLbkRendamActivity"
            android:exported="true" />
        <activity
            android:name=".ui.breed.lbk.rontok.BreedLbkRontokActivity"
            android:exported="true" />
        <activity
            android:name=".ui.breed.lbk.ethreel.BreedLbkEthreelActivity"
            android:exported="true" />
        <activity
            android:name=".ui.breed.lbk.timbang.BreedLbkTimbangActivity"
            android:exported="true" />
        <activity
            android:name=".ui.breed.lbk.panen.BreedLbkPanenActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.germinasi_2.kutip_kch_2.SeedGermin2KutipKch2Activity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.germinasi_2.kutip_kch_1.SeedGermin2KutipKch1Activity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.germinasi_2.kutip_5.SeedGermin2Kutip5Activity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.germinasi_2.kutip_4.SeedGermin2Kutip4Activity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.germinasi_2.kutip_3.SeedGermin2Kutip3Activity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.germinasi_2.kutip_2.SeedGermin2Kutip2Activity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.germinasi_2.kutip_1.SeedGermin2Kutip1Activity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.germinasi_2.aerasi_r_gelap.SeedGermin2AerasiRGelapActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.germinasi_2.r_gelap.SeedGermin2RGelapActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.germinasi_2.kering_angin.SeedGermin2KeringAnginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.germinasi_2.fungisida.SeedGermin2FungisidaActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.germinasi_2.rendam.SeedGermin2RendamActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.germinasi_2.preheating.SeedGermin2PreheatingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.germinasi_1.r_panas.SeedGermin1RuangPanasActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.germinasi_1.suhu_r_panas.SeedGermin1SuhuRPanasActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.germinasi_1.kering_angin.SeedGermin1KeringAnginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.germinasi_1.fungisida.SeedGermin1FungisidaActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.germinasi_1.rendam.SeedGermin1RendamActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.germinasi_1.r_apung_afkir.SeedGermin1AfkirApungActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.germinasi_1.r_apung.SeedGermin1ApungActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.lbk.simpan_kiriman.SeedLbkSimpanKirimanActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.lbk.terima_kiriman.SeedLbkTerimaKirimActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.lbk.pengiriman.SeedLbkPengirimanActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.lbk.gudang.SeedLbkGudangActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.lbk.penggonian.SeedLbkPenggonianActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.lbk.sortasi.SeedLbkSortasiActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.lbk.kupas.SeedLbkKupasActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.lbk.rendam.SeedLbkRendamActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.lbk.rontok.SeedLbkRontokActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.lbk.ethreel.SeedLbkEthreelActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.lbk.timbang.SeedLbkTimbangActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.lbk.panen.SeedLbkPanenActivity"
            android:exported="true" />
        <activity
            android:name=".ui.breed.germinasi_2.Germinasi2BreedActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.germinasi_2.Germinasi2SeedActivity"
            android:exported="true" />
        <activity
            android:name=".ui.breed.germinasi_1.Germinasi1BreedActivity"
            android:exported="true" />
        <activity
            android:name=".ui.breed.lbk.LBKBreedActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.germinasi_1.Germinasi1SeedActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.lbk.LBKSeedActivity"
            android:exported="true" />
        <activity
            android:name=".ui.breed.BreedingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.seedp.SeedPActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>